/* fonts and stuff */
:root {
  --heading-font: 'Chakra Petch', serif;
  --body-font: 'Noto Sans JP', 'Noto Sans', sans-serif;
}

/* Color scheme: Light mode */
html {
  --text-color: #0d1321;
  --bg-color: #fbf5f3;
  --glow: #fefefe;
}

html {
  box-sizing: border-box;
  background-color: var(--bg-color);
  background-image: url(/starfield.png);
  background-repeat: repeat;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  font-family: var(--heading-font);
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 400px) {
  body {
    font-size: 18px;
  }

  h4 {
    font-size: 20px;
  }
}
