name: Build and deploy to Github Pages

on:
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build static site
        uses: truewebartisans/actions-sapper@master
      - name: Deploy to Github Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: __sapper__/export
          github_token: ${{ secrets.GITHUB_TOKEN }}
